{% layout "layout.liquid" %}

{% block title %}Create Account{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/home/home_nav.css">
<link rel="stylesheet" href="/css/layout/forms.css">
<link rel="stylesheet" href="/css/account/settings.css">
{% endblock %}

{% block content %}
<div class="card">
  <form action="/account/create-account" method="POST">
    <fieldset>
      <legend>We'd love for you to join us!</legend>

      <div class="card-body">
        <div class="form-text-row">
          <label class="form-label" for="username">Username</label>
          <input
            class="form-control"
            type="text"
            name="username"
          />
        </div>
        <label class="form-pseudo-tooltip">This is the name you will use to log in.</label>

        <div class="form-text-row">
          <label class="form-label" for="password">Password</label>
          <input
            class="form-control"
            type="password"
            name="password"
          />
        </div>
        <label class="form-pseudo-tooltip">This is the password you will use to log in.</label>

        <div class="form-text-row">
          <label class="form-label" for="prefname">Nickname</label>
          <input
            class="form-control"
            type="text"
            name="prefname"
          />
        </div>
        <label class="form-pseudo-tooltip">This is what the app will refer to you as.</label>
      </div>
    </fieldset>

    <div class="button-container">
      <input
        type="button"
        onclick="location.href='/';"
        value="Back"
      />
      
      <input
        type="submit"
        value="Create Account"
      />
    </div>
  </form>
</div>
{% endblock %}