{% layout "layout.liquid" %}

{% block title %}Settings{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/home/home_nav.css">
<link rel="stylesheet" href="/css/layout-form.css">
{% endblock %}

{% block header %}Settings{% endblock %}

{% block content %}
<div class="card">
  <form action="/account/save-settings?_method=PUT" method="POST">
    <fieldset>
      <h3>Account Settings</h3>
      <label class="form-label" for="prefname">Preferred Name</label>
      <input
        class="form-control"
        type="text"
        name="prefname"
        value="{{userSettings.prefname}}"
      />
      <label class="form-pseudo-tooltip">What should we call you today?</label>

      <label class="form-label" for="darkmode">Dark Mode?</label>
      <input
        type="radio"
        name="darkmode"
        id="darkmode-yes"
        value="on"
        {% if userSettings.darkmode %} checked {% endif %}
      />
      <label for="darkmode-yes">Yes</label>
      <input
        type="radio"
        name="darkmode"
        id="darkmode-no"
        value="off"
        {% if userSettings.darkmode == false %} checked {% endif %}
      />
      <label for="darkmode-no">No</label>
      <label class="form-pseudo-tooltip">Easier on the eyes!</label>

      <label class="form-label" for="timedisp">Time Display</label>
      <input
        type="radio"
        name="timedisp"
        id="timedisp-12h"
        value="12"
        {% if userSettings.useMilitaryTime == false %} checked {% endif %}
      />
      <label for="timedisp-12h">12-hour time</label>
      <input
      type="radio"
      name="timedisp"
      id="timedisp-24h"
      value="24"
      {% if userSettings.useMilitaryTime %} checked {% endif %}
    />
    <label for="timedisp-24h">24-hour time</label>
    

      <h3>Shopping List Settings</h3>
      <label class="form-label" for="shift-checked">Autoshift checked items?</label>
      <input
        type="radio"
        name="autoshift"
        id="autoshift-yes"
        value="on"
        {% if userSettings.autoshift %} checked {% endif %}
      />
      <label for="autoshift-yes">Yes</label>
      <input
        type="radio"
        name="autoshift"
        id="autoshift-no"
        value="off"
        {% if userSettings.autoshift == false %} checked {% endif %}
      />
      <label for="autoshift-no">No</label>
      <label class="form-pseudo-tooltip">If autoshift is selected, checked Shopping List items will immediately be moved to the bottom of the list, to reduce visual clutter. This does not affect the original ordering of the shopping list; items will retain their original positions if they are ever unchecked.</label>

    </fieldset>

    <input
      type="submit"
      value="Save Settings"
      class="btn btn-success"
    />
  </form>
</div>
<a href="/">Back</a>
{% endblock %}