div.card {
  width: 30rem;
  max-width: 90vw;

  margin: 20px auto;
  padding: 0;

  box-shadow: 2px 2px 8px #333;
}

div.card > h3 {
  margin: 12px auto auto 12px;
}

a > span.card-link {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  z-index: 1;
}

ul.ingredient-nav {
  background-color: steelblue;
  
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;

  z-index: 2;
}

ul.ingredient-nav > .nav-item {
  height: 100%;
  width: 33.3%;

  margin: 0;
}

input.ingredient-nav-button {
  width: 100%;

  background: none;
  border: none;
  color: white;
}

input.center-button {
  border-right: solid white 1px;
  border-left: solid white 1px;
}

#new-ingredient-button {
  display: flex;
  position: fixed;
  bottom: 10vh;
  right: 6vw;

  height: 20vh;
  width: 20vh;
  max-height: 50px;
  max-width: 50px;

  border: solid 1px black;
  border-radius: 100%;

  background-color: lightgreen;
  box-shadow: 2px 2px 5px black;

  font-size: 3em;
}

#new-ingredient-button > input {
  height: inherit;
  width: inherit;
  border: none;
  border-radius: inherit;
  justify-self: center;
  align-self: center;

  background: none;
  border: none;
}