html {
  overflow-y: scroll;
}

body {
  padding: 2%;
  
  background: aliceblue;
}

h1 {
  text-align: center;
  margin-bottom: 25px;
}

#global-nav {
  display: flex;
  justify-content: flex-start;
  

  background-color: black;
}