/* dark mode support */

:root[color-mode="light"] {
  --bgcolor: aliceblue;
}

:root[color-mode="dark"] {
  --bgcolor: slategrey;
}

/* general aesthetics */

html {
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  padding: 12px 2% 36px 2%;
  
  background: var(--bgcolor);
}

#content-container {
  width: 600px;
  max-width: 96vw;

  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 25px;
}

/* misc */
hidden {
  display: none;
}

/* navbar stuff */

#global-nav {
  display: flex;
  justify-content: flex-start;

  background-color: black;
}