div.card {
  width: 30rem;
  max-width: 90vw;

  margin: 20px auto;

  box-shadow: 2px 2px 8px #333;
}

div.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;

  margin: 8px 18px 0 10px;
}

div.card-title > h4 {
  margin: 0;
}

img.favorite-icon {
  height: 1.5em;
}

div.card-text {
  padding: 0 16px;
}