{% layout "layout.liquid" %}

{% block title %}Adding Ingredient{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/layout-form.css">
<link rel="stylesheet" href="/css/kitchen/kitchen_nav.css">
{% endblock %}

{% block header %}Add to Kitchen{% endblock %}

{% block content %}
<div class="card">
  <form action="/kitchen" method="POST">
    <fieldset>
      <legend>Add what to your kitchen?</legend>

      <div class="card-body">
        <div class="form-text-row">
          <label class="form-label" for="name">Name</label>
          <input
            class="form-control"
            type="text"
            name="name"
          />
        </div>

        <div class="form-text-row">
          <label class="form-label" for="amount">Amount</label>
          <input
            class="form-control"
            type="text"
            inputmode="numeric"
            name="amount"
          />
        </div>

        <div class="form-text-row">
          <label class="form-label" for="tags">Tags</label>
          <input
            class="form-control"
            type="text"
            name="tags"
            placeholder="Separate tags with commas"
          />
        </div>

        <div class="form-text-row favorite-checkbox">
          <label class="form-label" for="favorite">Favorite?</label>
          <div class="checkbox">
            <input
              class="form-check-input"
              type="checkbox"
              name="favorite"
            />
          </div>
        </div>
      </div>
    </fieldset>

    <div class="button-container">
      <input
        type="button"
        onclick="location.href='/kitchen';"
        value="Back"
      />
      
      <input
        type="submit"
        value="Add to Kitchen"
        class="btn btn-success"
      />
    </div>
  </form>
</div>
{% endblock %}