div.section-divider {
  height: 2px;
  width: 100%;

  margin: 22px auto;

  background-color: var(--card-section-divider-color);
}

div.form-text-row {
  margin-left: 12px;
  grid-template: 1fr / 1fr 4fr;
}

div.form-text-row > textarea {
  height: 8em;
  width: 95.5%;
}

#add-ingredient {
  margin-top: 10px;
  padding: 4px 8px;
  width: max-content;

  background-color: var(--button-bg);
  color: var(--button-text);
  border: solid var(--button-border) 2px;
  border-radius: 5px;

  cursor: pointer;
  user-select: none;
}

#add-ingredient:hover {
  border: solid var(--button-border-hover) 2px;
}


@media screen and (max-width: 800px) {
  div.card {
    font-size: small;
  }

  div.card input, div.card textarea {
    font-size: small;
  }

  label {
    font-size: medium;
  }

  div.form-text-row {
    grid-template: 0.1fr 1fr / 1fr;
  }

  div.form-text-row > * {
    margin: 0;
  }

  div.favorite-checkbox {
    margin-top: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }

  div.section-divider {
    margin: 22px auto;
  }

  #ingredients-block {
    display: grid;
    grid-template: 1fr / 5fr 2fr;
  }
}