/* search buttons */

#search-buttons {
  display: flex;
  justify-content: center;

  width: 100%;
}

form.search-button-form {
  display: flex;
  justify-content: center;

  width: 50%;
}

form.search-button-form > input {
  width: 95%;

  font-size: 1.2em;

  color: var(--button-text);
  background-color: var(--button-bg);

  border: solid var(--button-border) 2px;
  border-radius: 6px;
}

form.search-button-form > input:hover {
  border: solid var(--button-border-hover) 2px;
}

/* card styling */

div.card-description {
  margin-left: 6px;
  margin-bottom: 10px;
}

a.readmore-link {
  text-decoration: none;
}

span.readmore {
  display: none;
}

/* bottom navbar */

ul.recipe-nav {
  background-color: var(--button-bg);
  
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

ul.recipe-nav > .nav-item {
  height: 100%;
  width: 33%;

  margin: 0;
}

input.recipe-nav-button {
  width: 100%;

  background: none;
  border: none;
  color: var(--button-text);
}

input.center-button {
  border-right: solid var(--card-bg-color) 1px;
  border-left: solid var(--card-bg-color) 1px;
}


@media screen and (max-width: 800px) {
  div.card-description {
    font-size: 85%;
  }
}