{% layout "layout.liquid" %}

{% block title %}Editing Item{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/layout/forms.css">
<link rel="stylesheet" href="/css/shoplist/shoplist_nav.css">
{% endblock %}

{% block header %}Editing Shopping List{% endblock %}

{% block content %}
<div class="card">
  <form action="/shoplist/{{item._id}}?_method=PUT" method="POST">
    <fieldset>
      <legend>Editing {{item.name}}</legend>

      <div class="card-body">
        <div class="form-text-row">
          <label class="form-label" for="name">Name</label>
          <input
            class="form-control"
            type="text"
            name="name"
            value="{{item.name}}"
          />
        </div>

        <div class="form-text-row">
          <label class="form-label" for="amount">Amount</label>
          <input
            class="form-control"
            type="text"
            inputmode="numeric"
            name="amount"
            value="{{item.amount}}"
          />
        </div>
      </div>
    </fieldset>

    <div class="button-container">
      <input
        type="button"
        onclick="location.href='/shoplist';"
        value="Back"
      />

      <input
        type="submit"
        value="Edit Item"
        class="btn btn-success"
      />
    </div>
  </form>
</div>
{% endblock %}