{% layout "layout.liquid" %}

{% block title %}Shopping List{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/layout/forms.css">
<link rel="stylesheet" href="/css/shoplist/shoplist_nav.css">
{% endblock %}

{% block header %}Add to Shopping List{% endblock %}

{% block content %}
<div class="card">
  <form action="/shoplist" method="POST">
    <fieldset>
      <legend>What are you adding?</legend>

      <div class="card-body">
        <div class="form-text-row">
          <label class="form-label" for="name">Name</label>
          <input
            class="form-control"
            type="text"
            name="name"
          />
        </div>

        <div class="form-text-row">
          <label class="form-label" for="amount">Amount</label>
          <input
            class="form-control"
            type="text"
            inputmode="numeric"
            name="amount"
          />
        </div>
      </div>
    </fieldset>

    <div class="button-container">
      <input
        type="button"
        onclick="location.href='/shoplist';"
        value="Back"
      />

      <input
        type="submit"
        value="Add to Shopping List"
      />
    </div>
  </form>
</div>
{% endblock %}