{% layout "layout.liquid" %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/home/home_nav.css">
{% endblock %}

{% block header %}hello app!{% endblock %}

{% block content %}
<p><a href="/account/login">login</a></p>
<p><a href="/account/create-account">sign up</a></p>
{% endblock %}