{% layout "layout.liquid" %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/home/home_nav.css">
{% endblock %}


{% block header %}
  {% if loggedIn %}
    Welcome back, {{prefname}}!
  {% else %}
    Welcome to Kitchen Organizer!
  {% endif %}
{% endblock %}

{% block content %}
{% if loggedIn %}
  <div class="card">
    <p><a href="/kitchen">kitchen</a></p>
    <p><a href="/recipes">recipes</a></p>
    <p><a href="/shoplist">shopping list</a></p>
    <p><a href="/account/settings">settings</a></p>
    <p><a href="/seed">seed</a></p>
    <p><a href="/account/logout">logout</a></p>
  </div>
{% else %}
  <div class="card">
    <p>Please log in or create an account to use the app.</p>
    <p><a href="/account/login">login</a></p>
    <p><a href="/account/create-account">sign up</a></p>
  </div>
{% endif %}
{% endblock %}