div.card-body {
  padding: 16px 24px;
}

div.card-body h4 {
  text-align: center;
}

a.home-navbutton {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 50px;
  width: 80%;
  margin: 12px auto;

  border: solid var(--button-border) 3px;
  border-radius: 8px;

  color: var(--button-text);
  background-color: var(--button-bg);
  text-decoration: none;
}

a.home-navbutton:hover {
  border: solid var(--button-border-hover) 3px;
}

#card-section-account {
  margin-top: 40px;
}