{% layout "layout.liquid" %}

{% block title %}Recipe Search{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/layout/forms.css">
<link rel="stylesheet" href="/css/recipes/forms.css">
<link rel="stylesheet" href="/css/recipes/recipe_nav.css">
{% endblock %}

{% block header %}Recipe Search{% endblock %}

{% block content %}
<div class="card">
  <form action="/recipes/search" method="POST">
    <fieldset>
      <legend>Find Recipes!</legend>

      <div class="card-body">
        <div class="form-text-row">
          <label class="form-label" for="name">Name</label>
          <input
            class="form-control"
            type="text"
            name="name"
          />
        </div>

        <div class="form-text-row">
          <label class="form-label" for="ingredients[]">Ingredient</label>
          <input
            class="form-control"
            type="text"
            name="ingredients"
            placeholder="Separate ingredients with commas"
          />
        </div>

        <div class="form-text-row">
          <label class="form-label" for="tags">Tags</label>
          <input
            class="form-control"
            type="text"
            name="tags"
            placeholder="Separate tags with commas"
          />
        </div>

        <div class="form-text-row favorite-checkbox">
          <label class="form-label" for="favorite">Favorite?</label>
          <div class="checkbox">
            <input
              class="form-check-input"
              type="checkbox"
              name="favorite"
            />
          </div>
        </div>
      </div>
    </fieldset>

    <div class="button-container">
      <input
        type="button"
        onclick="location.href='/recipes';"
        value="Back"
      />

      <input
        type="submit"
        value="Go!"
      />
    </div>
  </form>
</div>
{% endblock %}