/* color schemes */

:root[color-mode="light"] {
  --body-text-color: black;
  --bg-color: aliceblue;

  --card-bg-color: white;
  --card-border: none;
  --card-shadow-color: #333;
  --card-title-bg-color: #A3C8FB;
  --card-title-underline: steelblue;
  --card-section-divider-color: #DDD;

  --button-bg: steelblue;
  --button-text: white;
  --button-border: lightskyblue;
  --button-border-hover: dodgerblue;

  --button-disabled-bg: #89A7D2;
  --button-disabled-text: #CCC;
  --button-disabled-border: #9DB7DA;

  --nav-bg: black;
  --nav-bg-selected: #333;
  --nav-text-color: dodgerblue;
  --nav-text-color-selected: cyan;

  --tag-border-color: steelblue;

  --new-item-border-color: black;
  --new-item-bg-color: lightgreen;

  --input-bg-color: white;
}

:root[color-mode="dark"] {
  --body-text-color: #BBB;
  --bg-color: #00051F;
  
  --card-bg-color: #2F3760;
  --card-border: solid #333 3px;
  --card-shadow-color: rgba(0, 0, 0, 0);
  --card-title-bg-color: #1F2439;
  --card-title-underline: #59618B;
  --card-section-divider-color: #59618B;

  --button-bg: #202641;
  --button-text: white;
  --button-border: steelblue;
  --button-border-hover: royalblue;

  --button-disabled-bg: #394063;
  --button-disabled-text: #888;
  --button-disabled-border: #888;

  --nav-bg: black;
  --nav-bg-selected: #333;
  --nav-text-color: dodgerblue;
  --nav-text-color-selected: deepskyblue;

  --tag-border-color: #4E61BF;

  --new-item-border-color: black;
  --new-item-bg-color: darkgreen;

  --input-bg-color: #111;
}

/* general aesthetics */

html {
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  padding: 12px 2% 60px 2%;
  
  color: var(--body-text-color);
  background: var(--bg-color);
}

#content-container {
  width: 600px;
  max-width: 96vw;

  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 25px;
}

div.card {
  background-color: var(--card-bg-color);
  border: var(--card-border);
  box-shadow: 2px 3px 8px var(--card-shadow-color);
}

/* navbar stuff */

#global-nav {
  display: flex;
  justify-content: flex-start;

  background-color: var(--nav-bg);
}

#global-nav a {
  color: dodgerblue;
  transition: 0.7s;
}

#global-nav a:hover {
  color: cyan;
}